.container-canvas {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

.logo {
    text-align: center;
}

.player {
    display: block;
    border: 2px solid #aaa;
    width: auto;
    height: auto;
}
