{% extends "base.html" %}

{% block title %} Arena log {% endblock %}

{% block hero %}
<h2>
  Last update {{data.date}}
</h2>
{% endblock %}

{% block content %}
<!-- Example row of columns -->
<div class="row">
  <div class="span4">
	<h2>
      2v2
        </h2>
        <p>
          Some useful information.
        </p>
        <p>
          <a class="btn" href="table2.html">
            View details &raquo;
          </a>
        </p>
      </div>
      <div class="span4">
        <h2>
          3v3
        </h2>
        <p>
          Some useful information.
        </p>
        <p>
          <a class="btn" href="table3.html">
            View details &raquo;
          </a>
        </p>
      </div>
      <div class="span4">
        <h2>
          5v5
        </h2>
        <p>
          Some useful information.
        </p>
        <p>
          <a class="btn" href="table5.html">
            View details &raquo;
          </a>
        </p>
      </div>
</div>

<footer>
  <p>
    &copy; Company 2013
  </p>
</footer>
{% endblock %}

{% block scripts %}
<script src="js/player.js">
</script>
{% endblock %}
